argparse
dataclasses
pathlib
typing
numpy
pandas
soundfile
PyYAML
numpy
librosa
faster-whisper
transformers
torch
torchaudio
funasr
zhconv
whisper_normalizer
pyopenjtalk-plus
compute-wer
openai-whisper